@font-face {
  font-family: "A Love of Thunder"; /* Use the exact font name */
  src: url("fonts/A\ Love\ of\ Thunder.ttf"); /* Path to your uploaded font file */
  /* Optional: Specify formats for wider browser compatibility */
  /* format('truetype');  */
}
@font-face {
  font-family: "Poppins"; /* Use the exact font name */
  src: url("fonts/Poppins/Poppins-Bold.ttf"); /* Path to your uploaded Poppins font file */
  /* Optional: Specify formats for wider browser compatibility */
  /* format('truetype');  */
}

h1{
  margin: 0;
  padding: 0; 
}

body,p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.hero-section {
  background: linear-gradient(#2f72b3,#008fc2);
  border-radius: 0 0 50px 50px; /* Rounded bottom edges */
  font-family: 'A Love of Thunder', Arial, sans-serif;@import url();
  padding: 20px;
  position: relative;
  text-align: center; /* Center content on mobile */
  overflow: hidden; /* Ensure no overflow from rounded corners */
  z-index: 1;
}

.hero-content h1, .hero-content p {
  color: white;
}

.hero-image {
  max-width: 100%; /* Ensure image is responsive */
  height: auto;
  display: block; /* Remove any extra space beneath the image */
  margin: 20px auto 0; /* Center image on mobile */
  position:relative; /* Positioning context for top property */
  top: 20px; /* Moves the image 20px down from its original position */
  z-index: 2; /* Ensure the image stays behind the text */
}


/* Desktop and larger tablets */
@media (min-width: 768px) {
  .hero-section {
      display: flex;
      align-items: center;
      justify-content:flex-start /* Space between text and image */
      /* text-align: left;  */
  }

  .hero-content, .hero-image {
      flex-basis: 50%; /* Split space evenly between text and image */
  }

  .hero-image {
      margin: 0; /* Reset margin for desktop */
      order: 2; /* Image to the right */
  }
}

/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
} */

/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: flex-end; /* Align logo to the right */
  align-items: center;
  padding: 1rem;
  background-color: white;
}

.logo {
  width: 100px; /* Adjust as necessary for mobile */
  height: auto;
}

.menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute; /* Positioning menu toggle to the left */
  left: 10px;
  top: 10px;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  background-color: #00AEEF; /* Adjust the blue background color as needed */
  padding: 50px 10px; /* Padding for text spacing */
}

.hero h1 {
  font-size: 1.2rem; /* Adjust font size for mobile */
  margin-bottom: 20px;
}

/* Media query for larger screens */
@media (min-width: 600px) {
  .hero h1 {
    font-size: 2rem; /* Larger font size for larger screens */
  }

  .logo {
    width: 150px; /* Larger logo for larger screens */
  }

  .menu-toggle {
    font-size: 8rem; /* Larger menu icon for larger screens */
  }
}
.form {
  width: 93%; /* Adjust the width as desired, smaller than 100% */
  margin:20px auto; /* Re-add this line to center the form */
  background: linear-gradient(rgba(255, 232, 206, 0.3), rgba(251, 184, 160, 0.3));
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="tel"] {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.form-group select {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}
.submit-button {
  background-color: #2f72b3; /* Blue background */
  color: #fff; /* White text */
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* No border */
  border-radius: 25px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer; /* Cursor changes to pointer on hover */
  width: 50%; /* Button width set to 50% of its parent container */
  display: block; /* Display block to enable margin auto to work */
  margin: 0 auto; /* Center the button horizontally */
  box-sizing: border-box; /* Include padding and border in the width and height */
}


.demo-button {
  background-color: #2f72b3; /* The blue background color */
  color: white; /* Text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 25px; /* Rounded corners */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Font weight */
  cursor: pointer; /* Cursor changes to pointer on hover */
  text-transform: uppercase; /* Uppercase text */
  outline: none; /* Remove focus border */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transition for hover effects */
  display: block; /* Make the button a block-level element */
  margin: 0 auto; /* Center the button horizontally */
  width: fit-content; /* Make the button width as wide as its content */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, spread radius, color */
}


.demo-button:hover, .demo-button:focus {
  background-color: #008CBA; /* Slightly darker blue on hover/focus */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect for depth */
}



.faq-container {
  width: 100%;
  max-width: 768px; /* Adjust width as needed */
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: linear-gradient(rgba(172, 203, 238, 0.3), rgba(231, 240, 253, 0.3));

}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Poppins', Arial, sans-serif;

}

.accordion {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: background-color 0.4s ease;
  border-radius: 5px;
  margin-top: 10px;
}

.active, .accordion:hover {
  background-color: #ffffff;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 5px;
}

.open {
  max-height: 200px; /* Adjust as needed */
}

.more-questions {
  background-color: #00AEEF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  text-transform: uppercase;
}

.testimonial-container {
  max-width: 414px;
  background:linear-gradient(#2f72b3,#008fc3);
  padding: 40px;
  border-radius: 0px;
  text-align: center;
  margin: auto;
  font-family: Arial, sans-serif;
  color: white;
}

.testimonial-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.video-container {
  position: relative;
  margin-bottom: 20px;
  /* Make sure to include a thumbnail with rounded corners */
}

.video-thumbnail {
  width: 100%;
  border-radius: 25px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}


.video-container,
.video-carousel {
  position: relative;
}

.carousel-item {
  display: none; /* Hide all carousel items by default */
  flex-direction: column;
  align-items: center;
}

.carousel-item.active {
  display: flex; /* Only display the active item */
}

.video-carousel video {
  width: 100%; /* Responsive video width */
  border-radius: 10px; /* Match the container's border radius */
}

.testimonial-detail {
  background-color: #2f72b3; /* White background for the text */
  padding: 15px;
   
}

.testimonial-detail h3 {
  color: #ffffff; /* Dark text for readability */
  margin-bottom: 5px;
}

.testimonial-detail p {
  color: #ffffff; /* Slightly lighter text color for the description */
  font-size: 16px;
}

.rating {
  color: #ffd700; /* Gold color for the rating stars */
  margin: 10px 0;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171; /* Darker color for the active dot */
}

.book-demo {
  background-color:#fff ; /* Blue background for the button */
  color:#00AEEF; /* White text color for the button */
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 25px; /* Rounded corners for the button */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block; /* To center the button */
}

/* You may need to adjust sizes, colors, margins, and padding to more closely match the image */


/* ... what intervel does better ... */
.features-section {
  text-align: center;
  margin:0px auto;
  margin-bottom:-10px;
  padding: 10px;
  background-color: #ffffff; /* Adjust to the desired background color of the section */
}

.features-title {
  margin-bottom: 20px;
  color: #333333;
  font-size: 24px; /* Adjust the size as necessary */
}
.feature {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px auto; /* Center the feature blocks */
  padding: 20px;
  border-radius: 20px;
  width: calc(100% - 20px); /* 100% width minus the padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* ... other styles ... */

.feature-icon {
  width: 50px; /* The width of the icon - make sure the image is square */
  height: 50px; /* The height of the icon - should be the same as the width for a circle */
  border-radius: 50%; /* This will make the image circular as long as the image is square */
  object-fit:cover; /* This will make sure that the image covers the area and retains its aspect ratio */
  /* Optional: if you want a border around the image */
  border: 2px solid #ffffff; /* Adjust the border color as needed */
  background-color: #ffffff; /* Adjust the background color as needed */
  margin-right: 20px; /* Adjust the margin as needed */
}

/* ... other styles ... */


.feature-text {
  text-align: left;
}

.feature-heading {
  font-size: 18px; /* Smaller font size for the heading */
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px; /* Space between the heading and paragraph */
  margin-left: 12px;
  color: #161616;
}

.feature p {
  font-size: 12px; /* Smaller font size for the paragraph */
  text-align: justify;
  font-family: 'Roboto', sans-serif;

}


/* feautureb */

.featureb-icon {
  width: 50px; /* The width of the icon - make sure the image is square */
  height: 50px; /* The height of the icon - should be the same as the width for a circle */
  border-radius: 50%; /* This will make the image circular as long as the image is square */
  object-fit: cover; /* This will make sure that the image covers the area and retains its aspect ratio */
  /* Optional: if you want a border around the image */
  border: 2px solid #ffffff; /* Adjust the border color as needed */
  background-color: #ffffff; /* Adjust the background color as needed */
  margin-right: 20px; /* Adjust the margin as needed */
}

.featureb-text {
  text-align: left;
}

.featureb-heading {
  font-size: 18px; /* Smaller font size for the heading */
  margin-bottom: 5px; /* Space between the heading and paragraph */
  margin-left: 12px;
  color: #333333;
}

.featureb p {
  font-size: 14px; /* Smaller font size for the paragraph */
  text-align:left;
  font-family: 'Roboto', sans-serif;

}


/* statistics */

.statistics-section {
  width: 100%;
  max-width: 610px; /* Adjust to control the section width */
  margin: 20px auto;
  padding: 0px 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding in the width */
}

.statistics-section h2 {
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold; /* Make title text bold */
}

.statistic {
  background: linear-gradient(to right, #8c7db9, #998bb8); /* Lavender background for each statistic */
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px; /* Space between statistic blocks */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start (left) */
}

.statistic-value {
  color: #000000;
  font-family: poppins;
  font-weight: bolder;
  font-size: 20px; /* Larger font size for the statistic value */
  border-radius: 50%;
  width: 60px; /* Size of the circle */
  height: 60px; /* Size of the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0; /* Prevent the circle from shrinking */
  border: 2px solid #fff; /* White border with increased thickness */
}

.statistic p {
  color: #070707;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Adjust the font size as needed */
  text-align:center; /* Align the text to the left within the statistic block */
  background-color: #fff; /* White background for the text box */
  padding: 10px; /* Padding inside the text box */
  border-radius: 10px; /* Slightly rounded corners for the text box */
  font-weight: normal; /* Make paragraph text bold */
  flex-grow: 1; /* Allow the paragraph to fill the space */
}

.call-to-action {
  color: #101010;
  font-weight: normal;
  margin-top: 20px; /* Adjust spacing as needed */
  text-align: center;
}

/* banner */

.cta-section {
  background-color: #f8d7f9; /* Adjust to match the background color of your section */
  text-align: center;
  margin-top:20px;
  margin-bottom:-20px;
  padding: 20px;
}

.cta-quote {
  color: #000000; /* Adjust to match the text color */
  font-size: 20px; /* Adjust to match the text size */
  font-weight: bold; /* Make the quote bold */
  margin-bottom: 10px;
}

.cta-text {
  color: #000000; /* Adjust to match the text color */
  font-size: 16px; /* Adjust to match the text size */
  margin-bottom: 20px;
}

/* faq */
.faq-container {
  font-family: 'Arial', sans-serif;
  background-color: #e1e9f2; /* Assuming white background as in the image */
  width:90%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.faq-container h2 {
  color: #333;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Light grey background */
  color: #333;
  padding: 15px;
  text-align: left;
  border: none;
  width: 100%;
  font-size: 14px; /* Adjust as needed based on the image */
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px; /* Rounded edges */
}

.faq-question:focus {
  outline: none; /* Remove focus outline for cleaner design */
}

.toggle-icon {
  color: #007bff; /* Blue color for the icon as in the image */
  font-weight: bold; /* Make the icon (+) bold */
}

.faq-answer {
  margin-top: 10px;
  display: none; /* Initially hide the answer */
  background-color: #ffffff; /* White background for the answer */
  color: rgb(17, 16, 16);
  padding: 10px;
  font-size: 14px;
  border-radius: 10px; /* Rounded edges */
  line-height: 1.6;
}

/* Style for the answer when it's meant to be shown */
.faq-answer.active {
  display: block;
}

/* how to start */

.steps-container {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

.steps-container h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}

.step-number {
  font-size: 38px;
  color: #7D3F98;
  font-weight: bold;
  margin-right: 15px;
  position: relative;
  z-index: 1;
  width: 50px; /* Fixed width for the number */
}

.icon-container {
  width: 65px; /* Fixed size for the icon container */
  height: 65px;
  border: 2px solid #3498db;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -5px;
  position: relative;
  z-index: 1;
}

.icon-container img {
  width: 37px;
  height: 34px;
}

.step-info {
  flex-grow: 1;
  flex-basis: calc(100% - 110px); /* Take full width minus the width of the number and icon containers */
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
  min-height: 120px; /* Minimum height for equal size */
}

.step-info h3 {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-info p {
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: start;
  line-height: 1.4;
}

/* Dotted line */
/* .step::before {
  content: '';
  position: absolute;
  left: 40px; 
  top: 50%;
  width: 2px;
  height: calc(100% + 40px); 
  background-image: linear-gradient(to bottom, black 50%, rgba(255,255,255,0) 50%);
  background-repeat: repeat-y;
  background-size: 2px 10px;
  z-index: 0;
} */

/* Correcting last step to not show dotted line below */
.step:last-child::before {
  height: 50%;
}

/* To make sure the dotted line and squares align with the items */
.step-number, .icon-container, .step-info {
  align-self: center;
}

/* Adjust the height of the line to match the layout */
.step:first-child::before {
  top: calc(50% + 20px); /* Half the height of the step number and icon container */
  bottom: -40px; /* Pull the line up to start from the center of the first step */
}

/* Adjust the height of the last line */
.step:last-child::before {
  height: 50%;
}

/* us vs them */

.heading-container {
  text-align: center;
  margin-bottom: 20px;
}

.heading-container img {
  vertical-align: middle; /* Align the 'VS' image with the text */
}

.description {
  text-align: center;
  margin-bottom: 20px;
}

/* 
.divider1 {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 20px solid red;
  transform: translateX(-50%);
}
.divider2 {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 20px solid blue; 
  transform: translateX(-50%);
} */

.features-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.feature-column {
  width: 45%;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.feature img {
  width: 50px; /* Adjust the size as necessary */
  height: 50px; /* Adjust the size to maintain aspect ratio */
  border-radius: 50%; /* Creates a circular shape for the icons */
  object-fit: cover; /* Ensures the image covers the circle area */
  padding: 5px; /* Creates space around the icon inside the circle */
  box-sizing: border-box;
}

.feature-column.left .feature img {
  background-color: #ADD8E6; /* Light blue background for left side icons */
}

.feature-column.right .feature img {
  background-color: #FFB6C1; /* Light red background for right side icons */
}

.feature p {
  margin: 0;
  padding-left: 10px; /* Adds some space between the icon and the text */
}


.featuresb-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-left: 12px;
}

.featureb-column {
  width:80%;
}

.featureb {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.featureb img {
  width: 50px; /* Adjust the size as necessary */
  height: 50px; /* Adjust the size to maintain aspect ratio */
  border-radius: 50%; /* Creates a circular shape for the icons */
  object-fit: cover; /* Ensures the image covers the circle area */
  padding: 5px; /* Creates space around the icon inside the circle */
  box-sizing: border-box;
}

.featureb-column.left .featureb img {
  background-color: #ADD8E6; /* Light blue background for left side icons */
}

.featureb-column.right .featureb img {
  background-color: #FFB6C1; /* Light red background for right side icons */
}

.featureb p {
  margin: 0;
  padding-left: 10px; /* Adds some space between the icon and the text */
}

/* floating cta */
.floating-cta {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  color: #7D3F98;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.ctas-text {
  text-align: left;
  display: flex;
  font-weight: bold;
  font-size: 20px; /* Increased font size for better visibility */
}

.price-strike {
  text-decoration: line-through;
  color: #777;
  margin-right: 5px;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .floating-cta {
    right: 0px;
    bottom: 0px;
    padding: 5px 10px;
  }
}

.float-button {
  background-color: #2f72b3;
  color: white;
  border: none;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%; /* Center the button horizontally */
  transform: translate(-50%, -50%); /* Adjust for both horizontal and vertical centering */
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: block;
  width: 80%;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: glow 2s infinite alternate;
}
